@model MiniCRM.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    <div>
        <h4>Addresses</h4>
        <table class="table">
            <thead>
                <th>Line 1</th>
                <th>Line 2</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
            </thead>
            <tbody>
                @{
                    foreach (var address in Model.Addresses)
                    {
                        <tr>
                            <td>@address.AddressLine1</td>
                            <td>@address.AddressLine2</td>
                            <td>@address.ZipCode</td>
                            <td>@address.City</td>
                            <td>@address.State</td>
                            <td>@address.Country</td>
                        </tr>
                    }
                }  
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
